@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

.page-pattern {
	background-image: url("/2560px-Happy_birthday_wallpaper_colorful_stripes.jpg");
	background-size: cover; /* Cover the entire background area */
	background-position: center; /* Center the background image */
	background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.comments-pattern {
	background-image: url("Intense-blue-ocean-background-water-render-patternpictures-5522-1600x1063.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	max-width: 800%; /* Adjust the width as needed */
	height: 200px;
	margin: auto; /* Center the carousel horizontally */
}

//Responsive canvas right side textarea

.responsive-div {
}

/* Add a media query for screens smaller than 768px */
@media (max-width: 767px) {
	.responsive-div {
		width: 30vw;
		height: 150px; /* Specific height for smaller screens */
	}
}

/* Add another media query for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
	.responsive-div {
		width: 35vw;
		height: 200px;
	}
}

/* Add a media query for screens larger than 1024px */
@media (min-width: 1024px) {
	.responsive-div {
		width: 40vw;
		height: 300px;
	}
}

.max-h-entry {
	max-height: 800px;
}

.max-w-entry-text {
	max-width: 50vw;
}

/* Rainbow text animation */
@keyframes rainbow {
	0% {
		color: #ff0000;
	}
	16.666% {
		color: #ff8000;
	}
	33.333% {
		color: #ffff00;
	}
	50% {
		color: #00ff00;
	}
	66.666% {
		color: #0000ff;
	}
	83.333% {
		color: #8000ff;
	}
	100% {
		color: #ff0000;
	}
}

.rainbow-text {
	animation: rainbow 2s linear infinite;
}

/* Rainbow background animation */
@keyframes rainbowBackground {
	0% {
		background-color: #ff0000;
	}
	16.666% {
		background-color: #ff8000;
	}
	33.333% {
		background-color: #ffff00;
	}
	50% {
		background-color: #00ff00;
	}
	66.666% {
		background-color: #0000ff;
	}
	83.333% {
		background-color: #8000ff;
	}
	100% {
		background-color: #ff0000;
	}
}

.rainbow-background {
	animation: rainbowBackground 2s linear infinite;
}
